<div class="volcano">
  <div class="volcano-img">
    <img src="./static/images/etna.jpg" />
  </div>
  <div class="volcano-info">
    <h1>Mount Etna</h1>
    <p><span>Location: </span>Sicily Italy</p>
    <p><span>Volcano Type: </span>Stratovolcanoes</p>
  </div>

  <a href="#" class="btn-details">Details</a>
</div>